.seasonsList {
  list-style-type: none;
  cursor: pointer;
}

.seasonItem {
  padding: .5rem .75rem;
  background-color: rgba(125, 125, 125, .2);
  margin-bottom: 1rem;
  border-radius: 5px;
  h2 {}
}