.showsList {
  list-style-type: none;

  display: flex;
  flex-flow: row wrap;
}

.showItem {
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: fit-content;
  }

  .cardTextContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 1rem;
    }
    button {
      width: fit-content;
      padding: .25rem .5rem;
    }
  }


}